.thankyou-image{
    width: 24%;
    position: relative;
    margin-top: 20%;
}
.voucher-details{
    border: 1px solid #ff1744;
    padding: 7px;
}
.continue-shopping{
    border: 1px solid #ff1744;
    padding: 7px;
}